@media screen and (min-width: 480px) { /* Small devices: mobile phones */

    /***************************
    TWO COLUMN LAYOUT
    ***************************/

    #primary {
      width: 50%;
      float: left;
    }

    #secondary {
      width: 40%;
      float: right;
    }

    /***************************
    3(we want 3 elements side by side) * 5 (items margins are 2.5 on all sides) = 15%
    100% - 15% = 85%
    85 / 3 = 28.333333333333
    ***************************/

    /***************************
    PAGE: PORTFOLIO
    ***************************/

    #gallery li {
      width: 28.3333%;
    }

    #gallery li:nth-child(4n) { /* To fix the gallery grid */
      clear: left;
    }

    /***************************
    PAGE: ABOUT
    ***************************/
    .profile-photo {
      float: left;
      margin: 0 5% 80px 0; /* 5% to separate the text and 80px incase the text wraps around to the bottom of the image */
    }

}


@media screen and (min-width: 660px) { /* Media Query for tablets */

  /***************************
  PAGE: HEADER
  ***************************/

  nav {
    background: none; /* Removed background so the text can sit against the header background */
    float: right;
    font-size: 1.5em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }

  header {
    border-bottom: 5px solid #599a68;
    margin-bottom: 60px;
  }

}



/* 1.- Fist create a 2 column layout side by side */
/* 1.- add a meta type to all html pages  */
